# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

#idea
.idea

# Data (si volumineux ou sensible)
data/*.csv

#variables environnement
docker/.env

# Notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
