# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
venv/

#idea
.idea/

# Data (si volumineux ou sensible)


#variables environnement


# Notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
